/* 
    General Styles
*/
.logo {
    width: 50px;
    margin-left: 15px
}

footer {
    padding-bottom: 10px;
  bottom: 0;
  width: 100%;
  background-color: black;
  
  position: fixed;
}

nav {
    background-color: black;
}

.navImage {
width: 150px
}
