/* 
    General Styles
*/
.logo {
    width: 50px;
    margin-left: 15px
}

footer {
    padding-bottom: 10px;
  bottom: 0;
  width: 100%;
  background-color: black;
  display: inline-block;
  position: fixed;
}

nav {
    background-color: black;
}

.navImage {
width: 150px
}

.titulo {
    color: white;
    text-align: center;
}

.divTitulo {
    background-color: rgba(0, 0, 0, .5);
    width: 280px;
}